################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/luafalcao_api/v16
/luafalcao.api.Domain/bin/Debug/netcoreapp3.1
/luafalcao.api.Domain/obj
/luafalcao.api.Shared/bin/Debug/netcoreapp3.1
/luafalcao.api.Shared/obj
/luafalcao.api.Web/bin/Debug/netcoreapp3.1
/luafalcao.api.Web/obj
/luafalcao.api.Persistence/bin/Debug/netcoreapp3.1
/luafalcao.api.Persistence/obj
